/**
 * @file wallcovering calculator css.
 */

/**
 * The main link to open the calculator window.
 */
#calculator-link a { padding: 0 0 0 35px; background: url(./images/calc-icon.gif) no-repeat; display:block; height:30px;}

/**
 * The main calculator window.
 */
#block-wallcovering_calculator-prod_calc {width:500px; border: 1px solid #6DAFD1; background:#fff;
	-moz-box-shadow:    1px 3px 7px 2px #999;
  -webkit-box-shadow: 1px 3px 7px 2px #999;
  box-shadow:         1px 3px 7px 2px #999;
	display:none;
	}

/**
 * The top header bar that is the drag handle.
 */
#block-wallcovering_calculator-prod_calc #calc-header{height:10px; position:absolute; top:0; right:0px; width:100%;background:#ccc; cursor:move;}
#block-wallcovering_calculator-prod_calc #calc-header #handle{height:100%; width:100%}

/**
 * The close calculator window button.
 */
#block-wallcovering_calculator-prod_calc #close{
	display:block;
	padding:0 5px;
	position:absolute; 
	top:-2px;
  right:0px;
	color:#fff;
	background:#CC3300;
	}
	
/**
 * The calculator form element CSS.
 */
#block-wallcovering_calculator-prod_calc .wall-total{float:right;}
#block-wallcovering_calculator-prod_calc #edit-overage-wrapper * {margin:0; }
#block-wallcovering_calculator-prod_calc .block-inner {padding:10px}
#block-wallcovering_calculator-prod_calc fieldset {margin:0; padding:0;}
#block-wallcovering_calculator-prod_calc fieldset fieldset {padding:10px; background: #6DAFD1; color: #fff; margin:2px;}
#block-wallcovering_calculator-prod_calc fieldset fieldset .form-item{ float:left; padding: 0 10px; margin:0;;}
#block-wallcovering_calculator-prod_calc fieldset fieldset legend{ font-size:12px; font-weight:bold; background: #6DAFD1; color: #fff; padding:0 10px; float:left; clear:right; }
#block-wallcovering_calculator-prod_calc fieldset fieldset label{ float: left; font-size:12px; font-weight:normal;}
#block-wallcovering_calculator-prod_calc fieldset fieldset .form-submit{padding:0 10px; border:none; text-decoration:underline; font-weight:normal;}

/**
 * The calculator results container CSS.
 */ 
#calc-results{padding:5px 0;}

/**
 * Calculator help related styles.
 */
#calc-help{display:none; padding: 10px; background:#FFFFCC; height:250px; overflow:scroll;}
#calc-help-wrapper{float:right; padding:10px;}
#calc-help dt{font-weight:bold; padding:5px 0 3px 0;}

a.calc-toggle {
	margin-left:4px;
	display:block;
	cursor:pointer;
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #ccc;
	overflow:hidden;
}
a.dwn-arrow {
	margin-left:0;
	margin-top:4px;
	border-bottom:none;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #ccc;
}

/*
*/
#block-wallcovering_calculator-prod_calc .progress-disabled {
  float: none;
  display:inline;
}

#block-wallcovering_calculator-prod_calc .ajax-progress {
  float: none;
  display:inline;
}
#block-wallcovering_calculator-prod_calc .ajax-progress .throbber {
  float: none;
  height: 15px;
  margin: 2px;
  width: 15px;
  display:inline-block;
}
#block-wallcovering_calculator-prod_calc tr .ajax-progress .throbber {
  margin: 0 2px;
}
